<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Pixelarium</span>
    <span class="spacer"></span>
    <!-- Phone -->
    <a class="phone" href="tel:+381691987018">
      <mat-icon>call</mat-icon>
    </a>
    <!-- Mail -->
    <a class="email" href="mailto:nikola87kg@gmail.com">
      <mat-icon>email</mat-icon>
    </a>
    <!-- Facebook -->
    <a class="facebook" href="https://facebook.com/pixelarium.rs">
      <i class="fa fa-facebook-f"></i>
    </a>
    <!-- Linkedin -->
    <a class="linkedin" href="https://www.linkedin.com/company/pixelarium-rs/">
      <i class="fa fa-linkedin"></i>
      
    </a>

  </mat-toolbar-row>

</mat-toolbar>