@import "src/material-custom.scss";

h1 {
    color: $px-material-primary;
    text-align: center;
    margin: 80px auto 0;
    font-size: 30px;
    max-width: 90vw;
    @media (min-height: 500px) {
        width: 360px;
        margin: 50px auto 0;
    }
}

p {
    text-align: center;
    margin: 10px 2.5vw;
    max-width: 95vw;
    animation: textAnimate linear 3s infinite;
    font-size: 20px;
    @media (min-width: 700px) { font-size: 24px; }
    @media (min-width: 1000px) { font-size: 26px; }
}

@keyframes textAnimate {
    0% { opacity: 0; };
    10% { opacity: 1; };
    90% { opacity: 1; };
    100% { opacity: 0; }
}
