<div class="px-block-wrapper animated">
  <div class="px-block animated"></div>
</div>
<div class="px-block-wrapper fixed1">
  <div class="px-block"></div>
</div>
<div class="px-block-wrapper fixed2">
  <div class="px-block"></div>
</div>
<div class="px-block-wrapper fixed3">
  <div class="px-block"></div>
</div>
<div class="px-block-wrapper fixed4">
  <div class="px-block"></div>
</div>
<div class="px-block-wrapper fixed5">
  <div class="px-block"></div>
</div>
<div class="px-block-wrapper fixed6">
  <div class="px-block"></div>
</div>
<div class="px-block-wrapper fixed7">
  <div class="px-block"></div>
</div>
<div class="px-block-wrapper fixed8">
  <div class="px-block"></div>
</div>
<div class="px-block-wrapper fixed9">
  <div class="px-block"></div>
</div>
<div class="px-line">
</div>